
<div>
    <md-content>
        <md-toolbar flex>
            <div class="md-toolbar-tools" layout="row" layout-align="start center">
                <div layout="row" layout-align="start center" flex>
                    <md-button ng-show="displaysidenav" hide-gt-sm show-xs class="md-icon-button" aria-label="Settings">
                        <md-icon>menu</md-icon>
                    </md-button>
                    <h2>
                <span>Samarth</span>
               </h2>
                </div> 

                <div layout="row" layout-align="end center" flex>
                    
                    <a>Signout</a>
                </div>
             </div>
              <div layout="column"  layout-align="center center" >
 
            <strong>
                <div layout="row" layout-align="center center" layout-wrap>

                    <div flex="10" align="center"><md-button >English</md-button></div>
                    <div flex="10" align="center"><md-button >Hindi</md-button></div>
                    <div flex="10" align="center"><md-button >Punjabi</md-button></div>
                    <div flex="10" align="center"><md-button >Telegu</md-button></div> 
                
                    <div flex="10" align="center"><md-button >Malyalam</md-button></div>
                    <div flex="10" align="center"><md-button >Kannada</md-button></div>
                    <div flex="10" align="center"><md-button >Bengali</md-button></div>
                    <div flex="10" align="center"><md-button >Gujrati</md-button></div> 
                
                    <div flex="10" align="center"><md-button >Marathi</md-button></div>
                </div>
                
            </strong>
</div>

        </md-toolbar>
    </md-content>
</div>

<hr>
