<div>
    <md-content>
        <md-toolbar flex>
            <div class="md-toolbar-tools" layout="row" layout-align="start center">
                <div layout="row" layout-align="start center" flex>
                    <md-button ng-show="displaysidenav" hide-gt-sm show-xs class="md-icon-button" aria-label="Settings">
                        <md-icon>menu</md-icon>
                    </md-button>
                    <h2 >
                        <span class="samarth">Samarth</span>
                    </h2>
                </div>
                <div layout="row" layout-align="end center" flex>
                    <md-button ng-click="logout()" ng-show="signout">Signout</md-button>
                </div>
            </div>
            <div layout="row" layout-align="center center" hide-sm hide-xs layout-wrap>
            <div ng-repeat="(key,val) in language"><md-button title="{{key}}">{{val}}</md-button></div>
    
             </div>

             <div layout="row" layout-align="center center" hide-gt-sm layout-wrap>
                <div ng-repeat="(key,val) in language"><md-button title="{{key}}">{{val[0]}}</md-button></div>
            </div>
        </md-toolbar>
    </md-content>
</div>
