   /*.loginbtn {
       margin-top: 250px;
       color: white;
       width: 50%;
       margin-left: 20%;
   }*/
   
   /*.signin {
       margin-right: 100px;
       margin-left: 100px;
       margin-top: 200px;
       margin-bottom: 200px;
   }
   */

   .md-fab {
       margin-top: 100%;
       width: 10%;
   }
   .main{
    width:50%;
    margin: 4em auto 4em;
    padding: 4em 4em 5em;
    background:#FFFFFF;
}
   #form2 {
       
       margin-top: 2%;
       padding: 4em 4em 5em;
       margin: 4em auto 2em;
       padding: 20px;
       padding-bottom: 40px;
       border-radius: 5px;
       background-color: white;
       width:60%;
      /*text-align: center;*/
      font-size: 1em;
      font-family: 'Raleway', sans-serif;
  
   }
  
   .md-primary {
     float: center;
       /*width: 100%;*/
       height: 6%;
   }
   
   .btn{
    /*background: #175A91;*/
    /*background-color: #69EBD0;*/
   background-color: #4DFFF3;
    color: white;
   }
   
   h3 {
       text-align: center;
       color: blue;
   }
   
  /* .back {
       background-image: url('../images/job.jpg');
       height:500%;
       align: center;
       margin-bottom: 700%;
       background-size: 100% 100%;
       background-repeat: no-repeat;
       margin-right: auto;
       margin-bottom: 10%;
   }
   */
   /*.snbtn .spbtn {
       width: 100%;
       height: 6%;
   }*/
   
   .link {
       margin: auto;
   }

div{
  display: block;
}
.landingpage{
  margin-top: 400px;
  /*margin-left: 500px;*/
  /*background-image: url('../../images/background.jpg'); 
   -moz-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;*/
}

a{text-decoration:none;}


.main h3{
  /*color:#85C8C5;*/
  color: #53599A;
  text-align:center;
  font-size:2em;
  margin:0 0 2em;
}
#form2 h3{
  color: #53599A;
  text-align:center;
  font-size:2em;
  margin:0 0 2em;
}
/*.signinForm input[type="text"],.signinForm input[type="password"]*/
#form1
{
    /*outline: none;
    border: 4px solid #69EBD0;
    background: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;*/
    padding: 15px 10px;
    width: 96%;
    font-size: 1em;
    color: #999;
    /*text-align: center;*/
    font-family: 'Raleway', sans-serif;
}
#form1 input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    padding: .7em 3em .8em;
    font-size: 1.2em;
    -webkit-appearance: none;
    background:#1C6EB2;
    font-family: 'Raleway', sans-serif;
   /* border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;*/
    cursor: pointer;
}
 #form1 input[type="submit"]:hover{
  /*background:#175A91;*/
  background-color:white;
} 
#form2 input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    padding: .7em 3em .8em;
    font-size: 1.2em;
    -webkit-appearance: none;
    background:#1C6EB2;
    font-family: 'Raleway', sans-serif;
   /* border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;*/
    cursor: pointer;
}

