<div layout-align="center center" md-whiteframe="md-whiteframe-1dp" class="md-padding main" >
    <form name="signinForm" id="form1">
        <div layout="row" layout-align="center center">
            <h3 class="md-title">Sign In</h3>
        </div>
        <div layout="row" layout-align="center center">
            <md-input-container class="md-icon-float" flex>
                <label>Mobile number</label>
                <md-icon class="material-icons" style="font-size:30px">phone</md-icon>
                <input type="tel"  name="number"  required md-no-asterisk  ng-model="login.user.number">
                <div ng-messages="signinForm.number.$error">
                    <div ng-message="required">Enter registered mobile number</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="center center">
            <md-input-container class="md-icon-float" flex>
                <label>Password</label>
                <md-icon class="material-icons">lock</md-icon>
                <input type="password" name="password" required md-no-asterisk ng-model="login.user.password">
                <div ng-messages="signinForm.password.$error">
                    <div ng-message="required">Password is required.</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="start center" ng-model="error" style="color:red"></div>
        <div layout="row" layout-align="center center" class="signin">
            <md-button type="submit" class="md-primary" style="background-color:#1E88E5;color:white" flex ng-click="login.login()">Sign In</md-button>
        </div>
        <div class="clearfix"> </div>
        <div layout="row" layout-align="center">
          <a  flex style="text-align:center" ui-sref="candidate.register">Don’t have an account?</a>
        </div>
    </form>
</div>

