 .samarth{
  font-size: 25px;
  font-weight: bold;
}

.maincontent {
    width: 100%;
}

.languagebar
{
  font-weight: bold;
}

.appfooter {
    background: #545454;
    color: #919191;
    padding: 5px;
}

.loggedinbackground{
  background-color: white;
}

.loggedoutbackground{
    background-image: url('../../applayout/images/background.jpg');
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}