 .samarth {
     font-size: 25px;
     font-weight: bold;
 }
 
 .maincontent {
     width: 100%;
 }
 
 .label
 {
     font-size: 1.5em;
     display: block;
   
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
 }
 
 .languagebar {
     font-weight: bold;
 }
 
 .appfooter {
     background: #545454;
     color: #919191;
     padding: 5px;
 }

 .coverbackground{
      background-color: skyblue;
     /* For browsers that do not support gradients */
     background: -webkit-radial-gradient(skyblue , white);
     /* For Safari 5.1 to 6.0 */
     background: -o-radial-gradient(skyblue , white);
     /* For Opera 11.1 to 12.0 */
     background: -moz-radial-gradient(skyblue , white);
     /* For Firefox 3.6 to 15 */
     background: radial-gradient(skyblue , white);
     /* Standard syntax */
 }
 
 .loggedinbackground {

     /* 
     background-image: url('../../applayout/images/dashboardbackground.jpg');
     -moz-background-size: 100% 100%;
     -webkit-background-size: 100% 100%;
     background-size: 100% 100%; */

     background-color: skyblue;
     /* For browsers that do not support gradients */
     background: -webkit-radial-gradient(skyblue , white);
     /* For Safari 5.1 to 6.0 */
     background: -o-radial-gradient(skyblue , white);
     /* For Opera 11.1 to 12.0 */
     background: -moz-radial-gradient(skyblue , white);
     /* For Firefox 3.6 to 15 */
     background: radial-gradient(skyblue , white);
     /* Standard syntax */
 }
 
 .loggedoutbackground {
     background-image: url('../../applayout/images/background.jpg');
     -moz-background-size: 100% 100%;
     -webkit-background-size: 100% 100%;
     background-size: 100% 100%;
 }
