.main {
    width: 50%;
    margin: 4em auto 4em;
    padding: 4em 4em 5em;
    background: #FFFFFF;
}

.md-primary {
    float: center;
    height: 6%;
    font-size: 20px;
}

h3 {
    text-align: center;
    color: blue;
}

div {
    display: block;
}

.landingpage {
    margin-top: 400px;
}

a:hover {
    color: #1E88E5;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.main h3 {
    color: #53599A;
    text-align: center;
    font-size: 2em;
    margin: 0 0 2em;
    font-weight: bold;
}

#form1 {
    padding: 15px 10px;
    background-color: white;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}

#form1 input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    padding: .7em 3em .8em;
    -webkit-appearance: none;
    background: #1C6EB2;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

#form1 input[type="submit"]:hover {
    background-color: white;
}
