.main {
    width: 50%;
    margin: 4em auto 4em;
    padding: 4em 4em 5em;
    background: #FFFFFF;
}

.md-primary {
    float: center;
    height: 6%;
    font-size: 18px;
}

div {
    display: block;
}

a:hover {
    color: #1E88E5;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 15px;
}

.main h3 {
    color: #53599A;
    text-align: center;
    font-size: 1.8em;
    margin: 0 0 1em;
    font-weight: bold;
}

#form1 {
    padding: 15px 10px;
    background-color: white;
    font-size: 1.4em;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
}

