div {
    display: block;
}

a:hover {
    color: #1E88E5;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 15px;
}

#form1 h3 {
    color: #53599A;
    text-align: center;
    font-size: 1.6em;
    margin: 0 0 1em;
    font-weight: bold;
}

#form1 {
    width: 50%;
    margin: 4em auto 4em;
    padding: 1em 1em 2em;
    padding: 15px 10px;
    background-color: white;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
}
#form1 .signin{
    font-size: 18px;
}

