div {
    display: block;
}

a:hover {
    color: #1E88E5;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 15px;
}

.languagebar {
    font-weight: bold;
}

#form1 h3 {
    color: #53599A;
    text-align: center;
    font-size: 1.6em;
    margin: 0 0 1em;
    font-weight: bold;
}

#form1 {
    width: 80%;
    margin: 4em auto 1em;
    padding: 2em 2em 3em;
    background-color: white;
    font-size: 1.2em;
    font-family: 'Open-Sans', sans-serif;
    border-radius: 5px;
}

#form1 .signin {
    font-size: 19px;
}
#form1 .create{
    font-size: 17px;
}