<div class="container" style="margin-top: 80px;">

<my-skillcard candidateid="9038208300">
	<cardactions></cardactions>
	<badges></badges>
</my-skillcard>
<mysection-skill-card candidateid="9038208300">
	<verify></verify>
</mysection-skill-card>

<my-educationcard candidateid="9038208300">
	<verify></verify>
</my-educationcard>
<my-projectsectioncard candidateid="9038208300">
	<verify></verify>
</my-projectsectioncard>

<my-personalinfocard candidateid="9038208300">
	<verify></verify>
</my-personalinfocard>
<my-workexperiencecard candidateid="9038208300">
	<verify></verify>
</my-workexperiencecard>
</div>
