<div class="container">
    <div class="coverbackground">
        <my-skillcard candidateid="uname" showheader="false">
            <cardactions></cardactions>
            <badges></badges>
        </my-skillcard>
    </div>
    <!-- <div flex="60" flex-xs="100" flex-sm="100">
        <my-questionbox candidateid="uname"></my-questionbox>
    </div> -->
    <div layout="column">
        <div layout="row">
            <div flex="15" flex-offset="10" hide-xs hide-sm>
                <span class="label">{{resourceData.Personalinfo}}</span >
            </div>
            <div flex="60" flex-xs="100" flex-sm="100">
                <my-personalinfocard candidateid="uname" showheader="true" languagedata="resourceData">
                    <verify></verify>
                </my-personalinfocard>
            </div>
        </div>
    </div>

    <div layout="column">
        <div layout="row">
            <div flex="15" flex-offset="10" hide-xs hide-sm>
                <span class="label">{{resourceData.Education}}</span >
            </div>
            <div flex="60" flex-xs="100" flex-sm="100">
                <my-educationcard candidateid="uname" showheader="true" languagedata="resourceData">
                    <verify></verify>
                </my-educationcard>
            </div>
        </div>
    </div>

     <div layout="column">
        <div layout="row">
            <div flex="15" flex-offset="10" hide-xs hide-sm>
                <span class="label">{{resourceData.workexperience}}</span >
            </div>
            <div flex="60" flex-xs="100" flex-sm="100">
                <my-workexperiencecard candidateid="uname" showheader="true" languagedata="resourceData">
                    <verify></verify>
                </my-workexperiencecard>
            </div>
        </div>
    </div>
</div>

<div layout="column">
        <div layout="row">
            <div flex="15" flex-offset="10" hide-xs hide-sm>
                <span class="label">{{resourceData.Projects}}</span >
            </div>
            <div flex="60" flex-xs="100" flex-sm="100">
                <my-projectsectioncard candidateid="uname" showheader="true" test="resourceData" languagedata="resourceData">
                    <verify></verify>
                </my-projectsectioncard>
            </div>
        </div>
    </div>

    <div layout="column">
        <div layout="row">
            <div flex="15" flex-offset="10" hide-xs hide-sm>
                <span class="label">{{resourceData.Skills}}</span>
            </div>
            <div flex="60" flex-xs="100" flex-sm="100">
                <mysection-skill-card candidateid="uname" showheader="true" languagedata="resourceData">
                    <verify></verify>
                </mysection-skill-card>
            </div>
        </div>
    </div>
